html{
    box-sizing: border-box;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #F6F5F5;
}
.wrapper{
    background: #F6F5F5 ;
    width: 500px;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
h6{
    color: black ;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.output{
    color: black;
    font-size: 20px;
    margin: 10px auto;
    font-weight: bolder;
    text-align: center;
    background-color: #F6F5F5;
}
input{
    outline: none;
    border: none;
    font-size: 11px;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bolder;
}
input[type ="text"]{
    color: black;
    margin-right: 5px;
    width: calc(100%);
    border: 1px solid black;
}
input[type ="submit"]{
    color: BDBDBD;
    background-color: #2376E5;
    text-transform: uppercase;
}

