html{
    box-sizing: border-box;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: black;
}
.wrapper{
    background: ivory;
    width: 200px;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgb(163,173,201,0.05);
}
h6{
    color:blueviolet ;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}
.output{
    color: white;
    font-size: 12px;
    margin: 10px auto;
    font-weight: bolder;
    text-align: center;
    background-color: slateblue;
}
input{
    outline: none;
    border: none;
    font-size: 8px;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bolder;
}
input[type ="text"]{
    color: slateblue;
    margin-right: 5px;
    width: calc(100%/1.7);
    border: 1px solid white;
}
input[type ="submit"]{
    color: white;
    background-color: slateblue;
    text-transform: uppercase;
}